<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <h3>Cerence</h3>
                    <p>Complex Question Answering</p>
                    <a style="color: #777;" href="/">Home</a><br>
                    <a style="color: #777;" href="chat">QA System</a><br>
                    <div class="footer-copyright">
                    <p>Copyright &copy; 2020</p>
                    <p>Question Answering & Chatbots<br>Winter semester 2019/2020</p>
                    </div>

               </div>

               <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>Contacts</h3>
                    <p><i class="fa fa-globe"></i>Lohmannstrasse 23, Koethen (Anhalt), Germany</p>    
                    <p>Made with love by:<br>Alexander Perevalov, Alexander Vysokov, Arthur Mikhailov, Kirill Davydov and Thomas Fritz</p>                
                    <!--<p><i class="fa fa-phone"></i>+7-919-449-15-05</p>-->
                    <!--<p><i class="fa fa-save"></i> info@mail.com</p>-->
               </div>

          </div>
     </div>
</footer>
