<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <h3>Nuance</h3>
                    <p>Complex QA System</p>
                    <a style="color: #777;" href="/">Home</a><br>
                    <a style="color: #777;" href="chat">QA System</a><br>
                    <div class="footer-copyright">
                         <p>Copyright &copy; 2019</p>
                    </div>

               </div>

               <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>Contacts</h3>
                    <p><i class="fa fa-globe"></i>Lohmannstrasse 23, Koethen (Anhalt), Germany</p>
                    <!--<p><i class="fa fa-phone"></i>+7-919-449-15-05</p>-->
                    <!--<p><i class="fa fa-save"></i> info@mail.com</p>-->
               </div>

               <div class="clearfix col-md-12 col-sm-12">
                    <hr>
               </div>

               <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
                         <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
                         <!--<li><a href="#" class="fa fa-youtube"></a></li>-->
                         <li><a href="https://vk.com/" class="fa fa-vk"></a></li>
                        <!-- <li><a href="#" class="fa fa-linkedin"></a></li>-->
                    </ul>
               </div>

          </div>
     </div>
</footer>
